
.emb-accd.accordion,
.emb-accd.accordion-flush,
.emb-accd.accordion-item,
.emb-accd.accordion-button.collapsed,
.emb-accd.accordion-button.collapsed.show,
.emb-accd.accordion-collapse,
.emb-accd.accordion-button,
.emb-accd.accordion-body {
    --bs-accordion-active-bg: #900000;
    --bs-accordion-active-color: inherit;
    --bs-accordion-btn-focus-border-color: inherit;
    --bs-border-color: none;
    background-color: inherit;
    color: inherit;
}

.emb-accd.accordion-header{
    background-color: #900000;
}

.accordion {
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f5f5f5'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

.emb-accd.accordion-button,
.emb-accd.accordion-button:focus {
    box-shadow: none;
}

.emb-accd.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f5f5f5'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}