
.tab:focus {
    outline-style: none;
    /*outline-color: #d00000;*/
    outline-color: #f0e060;
    outline-width: 1px;
}

.tab {
    display: inline-block;
    padding: 8px 16px;
    cursor: pointer;
}

.tab-select {
    background: #f0e060;
    border-radius: 5px 5px 0 0;
    color: black;
}

.tab-disabled {
}

.tab-list {
    border-bottom: 0; /*1px solid #d00000;*/
    margin: 0;
    padding: 0;
}