.mc-head {
    text-align: center;
}

.mc-title {
    text-align: center;
    font-weight: 700;
    font-size: 1.1rem;
}

.mc-data {}

.cal-holi {
    text-align: center;
    font-size: 1.15rem;
    font-weight: 700;
    color:blue; 
}

.cal-tst {
    font-size: 1.15rem;
    font-weight: 700;
    color: red;
}

.cal-alert {
    font-size: 1.125rem;
    font-weight: 600;
    text-align: center;
    color:red;
}

.cal-sp {
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    color: green;
}