
.my-nb.nav-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.0rem;
    text-transform: uppercase;
    font-weight:600;
    /*color: #2d2d4d;*/
}

    .my-nb.nav-link:hover {
        /*color: #000;*/
        text-decoration: underline;
        text-decoration-color: rgba(240,224,96,0.25);
        text-decoration-thickness: 0.4rem;
        text-underline-offset: -0.15rem;
        text-decoration-skip-ink: none;
    }

    .my-nb.nav-link.active {
        /*color: #000;*/
        text-decoration: underline;
        text-decoration-color: rgba(240,224,96,0.75);
        text-decoration-thickness: 0.4rem;
        text-underline-offset: -0.15rem;
        text-decoration-skip-ink: none;
    }