
.my-nl.nav-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    /*text-transform: uppercase;*/
    color: whitesmoke;
}

.my-snl.nav-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    /*text-transform: uppercase;*/
    color: whitesmoke;
    text-indent: 2rem;
}

.my-nl.nav-link:hover, .my-snl.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: rgba(144,0,0,.25);
    text-decoration-thickness: 0.4rem;
    text-underline-offset: -0.1rem;
    text-decoration-skip-ink: none;
}

    .my-nl.nav-link.active, .my-snl.nav-link.active {
        text-decoration: underline;
        text-decoration-color: rgba(144,0,0,.75);
        text-decoration-thickness: 0.4rem;
        text-underline-offset: -0.1rem;
        text-decoration-skip-ink: none;
    }

ol.my-nl, ol.my-snl {
    list-style-type: decimal;
}