html, body {
  margin: 0;
  padding: 0;
  font-family: -apple-systrem, BlinkMacSystremFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color:whitesmoke;
}

h1 {
    font-family: 'Roboto Slab', serif;
    /**letter-spacing: 0.05rem;
    word-spacing: 0.2rem;*/

    margin-top: 0.25rem;
    margin-bottom: 1.75rem;
    font-size: 2.25rem;
}

h2 {
    font-family: 'Roboto Slab', serif;
    /**letter-spacing: 0.05rem;
    word-spacing: 0.2rem;*/

    margin-top: 2.5rem;
    margin-bottom: 1.75rem;
    font-size: 2.0rem;
}

h3 {
    font-family: 'Open Sans', serif;
    font-weight: 600;
    /**letter-spacing: 0.05rem;
    word-spacing: 0.2rem;*/

    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.75rem;
}

h4, h5, h6 {
    font-family: 'Open Sans', serif;
    font-weight: 600;
    /**letter-spacing: 0.05rem;
    word-spacing: 0.2rem;*/

    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

code, pre {
    font-family: 'Lucida Console', monospace;
    font-size: 1.1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

p {
    font-family: 'Open Sans', sans-serif;
    /*text-align: justify;*/
    font-size: 1.2rem;
    /*text-indent: 2.5rem;*/
    /*color: #28282B;*/
    margin-bottom: 1.75rem;
}

ul, ol {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
}

li {
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
}

strong {
    font-weight: 600;
}

.accordion-header {
    color: whitesmoke;
    background-color: inherit;
}

.code-snippet {
    padding: 1rem;
    border:  2px solid black;
}

